* {
  margin: 0;
  padding: 0; }

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: cover;
  color: white; }

.card {
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }
  .card button {
    width: 10%; }
  .card img {
    width: 20%; }
