* {
    margin: 0;
    padding: 0; }

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-size: cover;
    color: white;
}


.ArticulosPantalla{
    padding: 30px;

}

.card-articulo{ 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;

    img{ 
    width: 50%;
}
}


